<strong>Hey, {{ deliveryboy }}</strong>
<p>There is a new order ready to be delivered, check some info for your delivery above</p>
<p>
  <strong>Name of product:</strong> {{ product }} <br />
  <strong> Name of recipient:</strong> {{ recipientName }} <br />
  <strong> Location: </strong> {{ recipient }}, {{ recipientNumber}}, {{ city }} - {{ state }}
  <br />
<strong>
  I hope you have a good work !
</strong>
</p>
